[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
beautifulsoup4 = "*"
urllib3 = "*"
customtkinter = "*"
tk = "*"
pyinstaller = "*"
axe-selenium-python = {editable = true, ref = "master", git = "https://github.com/mozilla-services/axe-selenium-python.git"}

[dev-packages]

[requires]
python_version = "3.10"
